<h1>Inventory</h1>

<table class="table1" style="width:100%">

  <% @inventory.each do |inventory| %>

  <tr>
    <td><%= inventory.album_title() %></td>
    <td><%= inventory.artist_name() %></td>
    <td><%= inventory.quantity() %></td>
    <td><%= inventory.medium() %></td>
    <td><%= inventory.stock() %></td>
  </tr>
  <% end %>

</table>




<!-- put table *in* for loop -->

  <a href="/">
      Home
  </a>
